@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

$base-color: #212832;
$h4-color:  #DF6951;
$h1-color: #181E4B;
$h2-color: #1E1D4C;
$p-color: #5E6282;
$Btn-background: #F1A501;
$secondary-color: #fff;
$themeColor: #f9004d;
$themeSecondary: #f81f03;
$bgColor: #191919;  
$bgSecondary: #101010;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Volkhov', sans-serif;
}

html {
    scroll-padding-top: 5.625rem;
}

// Navbar
.nav-section, #bg-light {
    background: #FFF1DA;    
    .nav-container {
        .nav-items {
            
            ul {
                li{
                    padding: 0 1.5rem;
                    a{  
                        color: $bgSecondary;
                        font-size: 1.063rem;
                        line-height: 1.375rem;
                    }
                }
            }
        }
    }
}

// Hero Section
.hero-section {
    background: url("./Assets/Decore.png") no-repeat;
    background-position: top right;
    min-height: 100vh;
    margin-bottom: 6.063rem;
    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.5rem;
        .hero-headings {
            margin-top: 6.563rem;
            h4{
                color: $h4-color;
                font-size: 1.25rem;
                line-height: 1.875rem;
                text-transform: uppercase;
                font-weight: 700;
            }
            h1{
                color: $h1-color;
                font-size: 5.25rem;
                font-weight: 700;
                line-height: 5.563rem;
                letter-spacing: -0.04em;
                margin: 1.5rem 0 1.875rem 0;
                max-width: 33.83rem;
            }
            p{
                color: $p-color;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.875rem;
                max-width: 27rem;
            }
            .btn1{
                color: $secondary-color;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.438rem;
                text-align: center;
                padding: 1.188rem 1.688rem;
                background-color: $Btn-background;
                box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.3);
                border-radius: 0.625rem;
                border: none;
                margin-top: 2.125rem;
            }
        }
        .hero-image{
            margin-top: 6.563rem;
            max-width: 48.992rem;
            height: auto;
        }
    }
}

// Services Section
.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.688rem;
    background: url("./Assets/Group4.png") top right 3.625rem no-repeat;
    .services-heading {
        text-align: center;
        h2{
            font-size: 3.125rem;
            line-height: 4rem;
            text-transform: capitalize;
            margin-top: 0.625rem;
            margin-bottom: 4.125rem;
        }
        h3 {
            color: $p-color;
            font-size: 1.125rem;
            line-height: 1.688rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .service-content-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2.1rem;
        .service-card{
            width: 16.688rem;
            height: 19.625rem;
            background: $secondary-color;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            border-radius: 2.25rem;
            text-align: center;
            padding-top: 1.125rem;
            h2 {
                color: $h2-color;
                font-size: 1.25rem;
                margin-top: 2.813rem;
                margin-bottom: 0.938rem;
                line-height: 1.688rem;
                font-weight: 700;
            }
            p{
                color: $p-color;
                margin: 1rem 2.688rem 0;
                font-size: 1rem;
                line-height: 1.625rem;
            }
        }
    }
}

// Destination Section
.destination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.688rem;
    margin-bottom: 11.625rem;
    .destination-heading{
        text-align: center;
        h2 {
            color: $h2-color;
            font-size: 3.125rem;
            font-weight: 700;
            margin-top: 0.5rem;
            margin-bottom: 3.75rem;
            line-height: 4rem;
            text-transform: capitalize;
        }
        h3 {
            color: $p-color;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.688rem;
        }
    }
    .destination-content-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 1fr;
        grid-column-gap: 3.75rem;
        border-radius: 1.5rem 1.5rem;
        .destination-card{
            filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));   
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            border-radius: 1.5rem 1.5rem;      
            background-color: $secondary-color;   
            width: 19.688rem;
            img {
                height: auto;
                max-height: 20.438rem;
                width: 19.688rem;
                border-radius: 1.5rem 1.5rem 0 0;
            }
            .destination-sub-card {
                background-color: $secondary-color;
                border-radius: 0 0 1.5rem 1.5rem;
                .destination-sub-card1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    padding: 1.688rem 1.563rem 1.188rem 1.188rem;
                }
                .destination-sub-card2 {
                    display: flex;
                    align-items: flex-start;
                    padding-left: 1.25rem;
                    padding-bottom: 2.625rem;
                    span{
                        padding-right: 0.875rem;
                    }
                }
            }
        }
    }
}

// Book A Trip Section
.trip-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    .trip-content-wrapper {
        display: flex;
        justify-content: space-evenly;
        .trip-main-content {
            max-width: 31.938rem;
            margin-right: 7.375rem;
            h3 {
                color: $p-color;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.688rem;
                margin-bottom: 0.938rem;
            }
            h1 {
                color: $h1-color;
                font-size: 3.125rem;
                font-weight: 700;
                line-height: 4rem;
                text-transform: capitalize;
                margin-top: 0.938rem;
                margin-bottom: 1.938rem;
            }
            .trip-sub-content {
                display: flex;
                max-width: 24.688rem;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 3rem;
                img {
                    max-width: 2.938rem;
                    max-height: 3rem;
                    margin-right: 1.313rem;
                }
                h4 {
                    color: $p-color;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.25rem;
                    margin-bottom: 0.25rem;
                }
                p{
                    color: $p-color;
                    font-size: 1rem;
                    line-height: 1.25rem;
                }
            }
        }
        .trip_img{
            img {
               width: 100%;
               height: 100%;
            }
        }
    }
}

// Clients Section
.clients-container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.938rem;
    height: auto;
    .clients-heading{
        h1 {
            color: $h2-color;
            font-size: 3.125rem;
            font-weight: 700;
        }
    }
    .clients-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        img{
            margin: auto;
            object-fit: cover;
            height: auto;
            width: 100%;
            max-width: 50%;
        }
    }
}

// Footer Section
.footer-container{
    background-color: $base-color;
    padding: 4.5rem 2rem 7rem;
    .footer-wrapper{
        display: flex;  
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: $secondary-color;
        max-width: 77.5rem;
        margin: auto;
        .footer-headings{
            h1 {
                font-size: 2.75rem;
                font-weight: 700;
            }
            p{
                width: 100%;
                max-width: 16rem;
                font-size: 1rem;
                line-height: 1.7rem;
            }
        }
        .footer-menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 4.5rem;
            h4 {
                font-size: 1.313rem;
                font-weight: 700;
                padding-bottom: 1.5rem;
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    padding-bottom: 0.75rem;
                }
            }  
        }
        .footer-icons{
            i {
                padding-right: 1.5rem;
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 480px) {
    .hero-section {   
        margin-bottom: 6.063rem;  
        .hero-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero-headings {
               text-align: center;
               margin-left: auto;
               margin-right: auto;
                h4{
                    font-size: 0.75rem;
                }
                h1{
                    font-size: 3.5rem;
                    line-height: 1.5;
                    margin: 0.5rem 0 0.875rem 0;
                }
                p{
                    font-size: 1rem;
                    max-width: 100%;
                }
            }
            .hero-image{ 
                img {
                    display: inline-block;
                    height: 100%;
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                }                 
            }
        }
    }  
    .services-container {  
        height: auto;
        margin-left: auto;  
        margin-right: auto;
        .services-heading {
            h2{
              font-size: 2rem;
            }
        }
        .service-content-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2.5rem;
            height: auto;
            .service-card{    
                width: 13.688rem;
                height: 19.625rem;
                margin-left: auto;
                margin-right: auto;
                h2 {
                    font-size: 1.05rem;
                    margin-top: 1.813rem;
                }
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
    .destination-container{
        height: auto;
        .destination-heading{
            h2 {
                font-size: 2.125rem;
                line-height: 2.5rem;
            }
        }
        .destination-content-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 3.5rem;
            .destination-card{ 
                width: 14.688rem;
                margin-left: auto;
                margin-right: auto;
                max-height: 100%;
                img {
                    max-width: 14.688rem;
                    margin-left: auto;
                    margin-right: auto;
                }
                .destination-sub-card1 {
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
    .trip-container { 
        .trip-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .trip-main-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: auto;
                h3 {
                    font-size: 1rem;
                    line-height: 1rem;
                }
                h1 {
                    text-align: center;
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
                .trip-sub-content { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    img {
                        margin: 0;
                    }
                    h4 {
                        margin: 1.25rem 0 1.25rem;
                    }
                }
            }
            .trip_img{
                img {
                    margin: auto;
                }
            }
        }
    }
    .clients-container {
        .clients-heading {
            h1 {
                font-size: 2.5rem;
            }
        }  
        .clients-wrapper{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 1rem;
            img{
                margin: auto;
                object-fit: cover;
                height: auto;
                width: 100%;
                max-width: 50%;
            }
        }
    }  
    .footer-container{
        .footer-wrapper{
            display: flex;  
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .footer-menu {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 1.15rem;
                margin: 2.5rem 0 2.5rem;  
            }
            .footer-icons{
                i {
                    padding-right: 1.5rem;
                }
            }
        }
    }
    
}

@media only screen and (min-width:481px) and (max-width: 768px) {
    .hero-section {        
        .hero-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto ;
            .hero-headings {
                text-align: center;
                h4{
                    font-size: 1rem;
                    margin: 0;
                }
                h1{
                    font-size: 4.75rem;
                    max-width: 100%;
                }
                p{
                    font-size: 1rem;
                    max-width: 100%;
                    margin: 0;                 
                }
            }
            .hero-image{ 
                img {
                    display: block;
                    width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                }              
            }
        }
    } 
    .services-container {  
        height: auto;
        margin: auto;  
        .service-content-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2.5rem;
            height: auto;
        }
    }
    .destination-container{
        height: auto; 
        .destination-heading{
            h2 {
                font-size: 2.75rem;
                line-height: 2.5rem;
            }
        }
        .destination-content-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 2fr);
            row-gap: 3.5rem;
            .destination-card{ 
                .destination-sub-card1 {
                    p {
                        margin: 0;
                    }
                }    
            }
        }
    }
    .trip-container {    
        .trip-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .trip-main-content {
                margin: 0;
                text-align: center;
                .trip-sub-content { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    max-width: 100%;
                    img {
                        margin: 1rem 0 0;
                    }
                    h4 {
                        margin: 1.25rem 0 1.25rem;
                    }
                }
            }
            .trip_img{
                img {
                    margin: auto;
                }
            }
        }
    }   
    .clients-container {
        .clients-wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }
    }  
    .footer-container{
        .footer-wrapper{
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .footer-menu {
                 margin: 2.5rem 0 2.5rem;
            }
        }
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
    // Navbar
    .nav-section, #bg-light {   
        .nav-container {
            .nav-items {
                ul {
                    li{
                        padding: 0 1rem;
                        a{  
                            font-size: 1.063rem;
                        }
                    }
                }
            }
        }
    }
    .hero-section {  
        min-height: 0;      
        .hero-container {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero-headings {
                margin-left: 1.5rem;
                h4{
                    font-size: 1rem;
                    margin: 0;
                }
                h1{
                    font-size: 4.75rem;
                }
                p{
                    font-size: 1rem;
                    margin: 0;                 
                }
            }
            .hero-image{ 
                img {
                    display: inline-block;
                    width: 100%;
                }              
            }
        }
    } 
    .services-container {  
        .service-content-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3.5rem;
            height: auto;
        }
    }
    .destination-container{
        .destination-heading{
            h2 {
                font-size: 2.75rem;
                line-height: 2.5rem;
            }
        }
        .destination-content-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 2fr);
            row-gap: 3.5rem;
            .destination-card{ 
                .destination-sub-card1 {
                    p {
                        margin: 0;
                    }
                }    
            }
        }
    }
    .trip-container {    
        .trip-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .trip-main-content {
                margin: 0;
            }
            .trip_img{
                img {
                    margin: auto;
                }
            }
        }
    }
    .footer-container{
        .footer-wrapper{
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .footer-menu {
                 margin: 2.5rem 0 2.5rem;
            }
        }
    }
}

@media only screen and (min-width:1025px) and (max-width: 1200px) {
    // Navbar
    .nav-section, #bg-light { 
        .nav-container {
            .nav-items {
                ul {
                    li{
                        padding: 0 1rem;
                        a{  
                            font-size: 1.063rem;
                        }
                    }
                }
            }
        }
    }
    .hero-section {
        min-height: auto;        
        .hero-container {
            margin: 0 1.5rem;
            .hero-headings {    
                h4{
                    font-size: 1rem;
                    margin: 0;
                }
                h1{
                    font-size: 4.75rem;
                }
                p{
                    font-size: 1rem;
                    margin: 0;                 
                }
            }
            .hero-image{ 
                img {
                    display: block;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }              
            }
        }
    } 
    .services-container {  
        .service-content-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3.5rem;
            height: auto;
        }
    }
    .destination-container{
        .destination-heading{
            h2 {
                font-size: 2.75rem;
                line-height: 2.5rem;
            }
        }
        .destination-content-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            row-gap: 3.5rem;
            .destination-card{ 
                .destination-sub-card1 {
                    p {
                        margin: 0;
                    }
                }    
            }
        }
    }
    .trip-container {    
        .trip-content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            .trip-main-content {
                margin: 0;
            }
            .trip_img{
                img {
                    margin: auto;
                }
            }
        }
    }
}


